html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  /* background: linear-gradient(120deg, rgba(2, 0, 36, 1) 0%, rgba(62, 217, 255, 1) 82%, rgba(0, 212, 255, 1) 100%); */
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
  text-align: center;
  line-height: 1.5;
}

h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  color: #66BFBF;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 100px;
}

img {
  vertical-align: top;
}

/* BOOTSTRAP REPAIR */
.col {
  padding: 10px;
}

/* HR LINES */
hr:not([size]) {
  height: 2px;
}

hr {
  margin: 200px 150px 200px;
}

#hro {
  margin: 10px 60px 80px 60px;
  visibility: hidden;
}

#hrp {
  margin-top: 250px;
}

/*** NAVBAR ***/
/* .the-blur {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 55px;
  background: #084594;
  z-index: -1;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(25px);
}

.nav-link {
  margin: 0 20px 0;
  font-weight: 500;
  font-size: 1.3rem;
  color: white;
}


.nav-link:hover {
  color: black;
}

@media screen and (max-width: 990px) {
  .nav-link {
    font-size: 1.7rem;
  }
}

.navbar-toggler-icon {
  padding: 30px;
}

/* Change background color after button click */
.navbar-collapse.show .navbar-nav .nav-link,
.navbar-collapse.collapsing .navbar-nav .nav-link {
  background-color: #212529;
  color: white;
  margin: 0;
}


/* #top-sea {
  margin: 0;
  height: auto;
  width: 100%;
} */



/* SECTION OFFER */
#offer {
  margin: 0 10px 0;
}

#offer .offer-container {
  background-color: white;
  text-align: left;
  min-height: 500px;
  margin: 10px;
  padding: 20px;
  border-style: solid;
  border-width: 3px;
  border-radius: 4%;
}

#offer .offer-header {
  color: #FFF6EA;
  margin: 10px auto 20px auto;
  padding: 10px;
  display: block;
  width: 70%;
  text-align: center;
  border-radius: 10%;
}

#offer .offer-container img {
  height: 190px;
}

#offer .offer-container .offer-price {
  display: inline-block;
  margin: 20px 60px 0 0;
}




/* OFFER PACKAGE */
#offer .offer-container .offer-price-sm {
  margin: 0;
  width: 120px;
}
#offer .offer-container .logo-package {
  margin: 20px 0 0 20px;
  height: 160px;
}
#offer .offer-container .offer-price-sm p {
  margin-bottom: 5px;
}

/* OFFER VOUCHER */
#offer .offer-container .logo-voucher {
  display: block;
  margin: 30px auto;
  height: 150px;
}







/* SECTION ABOUT */
#about img {
  border-radius: 5%;
  max-width: 100%;
  max-height: 100%;
}

#about {
  margin: 0 50px;
}

.cv {
  height: 300px;
  border-radius: 50%;
  margin: 30px 30px 0 0;
}

.omnie-left {
  text-align: right;
}

.omnie-right {
  text-align: left;
}

/*** SECTION JOIN ***/
.KATA {
  width: auto;
  height: auto;
}

.butfaq {
  display: block;
  width: 350px;
  margin: 60px auto;
  background: #4E9CAF;
  padding: 18px;
  border-radius: 10px;
  color: #EAF6F6;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.butfaq:hover {
  background: #FF6363;
  text-decoration: none;
  color: black;
}

/* BUTTONS JOIN RESPONSIVE */
@media screen and (min-width: 1200px) {
  .btn1 {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .btn2 {
    display: none;
  }

  .KATA {
    margin-top: 30px;
  }
}

/*** SECTION MAP ***/
.map-responsive {
  padding-bottom: 80%;
  position: relative;
}

.map-responsive iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/* PARAGRAPH RESPONSIVE */
@media screen and (min-width: 1200px) {
  .info-small {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .info-big {
    display: none;
  }
}

/*** FOOTER ***/
.ending {
  margin-top: 160px;
  height: auto;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
}

.pend {
  font-size: 15px;
  margin: 20px 20px;
}

@media screen and (max-width: 990px) {
  .pend {
    font-size: 22px;
  }
}

/*** Q&A ***/
.lake {
  max-width: 100%;
  margin-bottom: 50px;
}

#arrow {
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  max-width: 9%;
  max-height: 9%;
}

@media screen and (max-width: 1200px) {
  #arrow {
    max-width: 20%;
    max-height: 20%;
  }
}

.q {
  color: #FFB2A6;
}

.a {
  color: #EFFFFD;
}
