html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 1.5;
}

/* KAT TOP IMAGE */
#kat-top-img {
  width: 100%;
}

h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  color: #525E75;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 20px 0 50px 0;
}

img {
  vertical-align: top;
}

.full-width-img {
  width: 100%;
}

/* SECTION OFFER */
#offer {
  margin: 0 10px 90px;
}

#offer .offer-container {
  background-color: #f8f8f8;
  text-align: left;
  min-height: 550px;
  margin: 10px;
  padding: 20px;
  border-style: solid;
  border-width: 3px;
  border-radius: 4%;
}

#offer .offer-header {
  color: #FFF6EA;
  margin: 10px auto 20px auto;
  padding: 10px;
  display: block;
  width: 70%;
  text-align: center;
  border-radius: 8px;
}

#offer .offer-container img {
  height: 190px;
}

#offer .offer-container .offer-price {
  display: inline-block;
  margin: 20px 60px 0 0;
}

#offer .offer-container .button-sign-in {
  background-color: #212529;
  border-radius: 8px;
  color: #F8F8F8;
  cursor: pointer;
  display: block;
  font-weight: 500;
  font-size: 16px;
  margin: 40px auto 20px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  width: 150px;
}

#offer .offer-container .button-sign-in:hover {
  background-color: #198754;
}

/* OFFER PACKAGE */
#offer .offer-container .offer-price-sm {
  margin: 0;
  width: 120px;
}

#offer .offer-container .logo-package {
  margin: 20px 0 0 10px;
  height: 160px;
}

#offer .offer-container .offer-price-sm p {
  margin-bottom: 5px;
}

/* OFFER VOUCHER */
#offer .offer-container .logo-voucher {
  display: block;
  margin: 30px auto;
  height: 150px;
}

/*SECTION OUR CLUB */
#our-club {
  background-color: #FFFBE7;
  padding: 30px;
  text-align: left;
}

#our-club h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* SECTION ABOUT ME */
#about-me {
  background-color: #F8F8F8;
  margin: 0;
  padding: 80px 30px 30px 30px;
  text-align: left;
}

#about-me h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* SECTION LAKE */
#lake {
  background-color: #F8F8F8;
  margin: 0;
  padding: 80px 30px 30px 30px;
  text-align: left;
}

#lake h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* SECTION JOIN-ME */
#join-me {
  background-color: #F8F8F8;
  margin: 0;
  padding: 80px 30px 30px 30px;
  text-align: left;
}

#join-me h2 {
  text-align: center;
  margin-bottom: 30px;
}

#join-me .button-join-me {
  border-radius: 8px;
  color: #F8F8F8;
  cursor: pointer;
  display: block;
  font-weight: 500;
  font-size: 18px;
  margin: 40px auto 30px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  width: 220px;
}

.butfaq {
  display: block;
  width: 300px;
  margin: 60px auto;
  padding: 10px;
  border-radius: 10px;
  color: #EAF6F6;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
}

/*** SECTION MAP ***/
#maps {
  background-color: #F8F8F8;
  margin: 0;
  padding: 80px 30px 30px 30px;
  text-align: left;
}

#maps h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* MAP INDEED */
.map-responsive {
  padding-bottom: 80%;
  position: relative;
}

.map-responsive iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/*** FOOTER ***/
.ending {
  color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  margin-top: 60px;
  padding: 10px;
}

.ending p {
  margin: 0;
}

/*** Q&A ***/
#arrow {
  position: absolute;
  top: 0;
  left: 0;
  display: inline;
  max-width: 12%;
  max-height: 12%;
}

#faq {
  font-size: 30px;
  padding: 40px;
  text-align: left;
}

.q {
  color: #FFB2A6;
}

.a {
  color: #EFFFFD;
}
